{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-danger">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active text-white font-weight-bold" href="{{ path("articles_index")}}">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" href="#">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" href="{{ path("app_register") }}">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" href="{{ path("app_login") }}">connexion</a>
        </li>             
    </ul>
</nav>

{% endblock %}
