{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Rédiger un nouvel article</h1>

    {{ include('articles/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('admin_articles_index') }}">Retour à la liste</a>
{% endblock %}
