{% extends 'base.html.twig' %}

{% block title %}Rédiger un article{% endblock %}

{% block body %}
    <h1>Rédiger un article</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_articles_index') }}">Retour à la liste</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
