{% extends 'base.html.twig' %}

{% block title %}Nouvelle Article{% endblock %}

{% block body %}
    <h1>Rédiger un nouvel article</h1>

    {{ include('articles/_form.html.twig') }}

    <a href="{{ path('admin_articles_index') }}">back to list</a>
{% endblock %}
